.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .page-header-title {
    display: flex;
    flex-direction: column;
  }
  
  .page-header-title h5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-container input {
    padding-left: 30px; /* Espaço para o ícone */
  }
  
  .search-container i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #999; /* Cor do ícone */
  }
  
  .dropdown-menu {
    right: 0;
    left: auto;
  
    a.dropdown-item {
      color: #333;
      &:hover {
        background-color: #f8f9fa;
      }
    }
  }
  
  .text-right {
    text-align: right;
  }
  
  .table .expanded-row {
    background-color: #f9f9f9;
  }
  
  .table .expanded-row td {
    padding: 10px;
  }
  
  .button-container {
    display: flex;
    gap: 5px; /* Ajuste o espaço entre os botões conforme necessário */
  }
  
  .text-success {
    color: green; /* Ou a cor verde desejada */
  }
  
  .text-danger {
    color: red; /* Ou a cor vermelha desejada */
  }
  
  .listagem {
    display: contents;
  }

  .export{
    margin-left: 10px;
  }