
<div class="card card-outline card-danger">
  <div class="card-header with-border">
    <div class="page-header-title">
      <h5 class="m-b-10">
        <strong>
          <i class="ti ti-plus"></i>
          Criar um funcionário
        </strong>
      </h5>
    </div>
    <div class="search-container">
    </div>
  </div>

  <div class="card-body">
    <div class="col-12">
      <form [formGroup]="employeeForm" class="requires-validation row g-3" (ngSubmit)="onSave()">
        <div class="col-md-6">
          <label for="name" class="form-label">Nome*</label>
          <input type="text" class="form-control" formControlName="name" required>
        </div>
        <div class="col-md-2">
          <label for="registration" class="form-label">Cod. Matricula*</label>
          <input type="text" id="registration" formControlName="registration" class="form-control" readonly />
        </div>
        <div class="col-4">
          <label for="birthday" class="form-label">Data de aniversário</label>
          <input type="date" class="form-control" formControlName="birthday">
        </div>

        <div class="col-4">
          <label for="municipality" class="form-label">Município de nascimento</label>
          <input type="text" class="form-control" formControlName="municipality">
        </div>
        <div class="col-4">
          <label for="state" class="form-label">Estado de nascimento</label>
          <input type="text" class="form-control" formControlName="state">
        </div>
        
        <div class="col-4">
          <label for="marital_status" class="form-label">Estado civil</label>
          <select class="form-select" formControlName="marital_state_id" required>
            <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>
          </select>
        </div>
        <div class="col-3">
          <label for="gender" class="form-label">Gênero</label>
          <select class="form-select" formControlName="gender_id" required>
            <option *ngFor="let gender of genders" [value]="gender.id">{{ gender.name }}</option>
          </select>
        </div>

        <div class="col-4">
          <label for="work_location" class="form-label">Locação*</label>
          <select class="form-select" formControlName="workspace_id" required>
            <option *ngFor="let work of workLocations" [value]="work.id">{{ work.name }}</option>
          </select>
        </div>
        <div class="col-5">
          <label for="position" class="form-label">Cargo*</label>
          <select class="form-select" formControlName="job_role_id" required>
            <option *ngFor="let role of jobRoles" [value]="role.id">{{ role.name }}</option>
          </select>
        </div>

        <div class="col-5">
          <label for="document_upload" class="form-label">Documento</label>
          <input type="file" id="document_upload" class="form-control" (change)="onFileChange($event)"/>
        </div>
        <div *ngIf="employeeDocuments" class="mt-2">
          <strong>Arquivos adicionados:</strong>
          <ul>
            <li *ngFor="let document of employeeDocuments">{{ document.filename }}</li>
          </ul>
        </div>
      </form>
    </div>

    <br>
    <div class="col-12 text-end">
      <button type="button" class="btn btn-secondary" (click)="addContact()">
        <i class="ti ti-plus"></i>Adicionar contato
      </button>
    </div>
    <br>

    <div class="card" *ngIf="showCard || employeeId">
      <div class="card-header with-border">
        <div class="page-header-title">
          <h5 class="m-b-10">
            <strong>
              <i class="fa-solid fa-address-card"></i>
              Informações de contato
            </strong>
          </h5>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
          <div formArrayName="contacts">
            <div *ngFor="let ct of additionalForms.controls; let i = index" [formGroupName]="i">
              <div *ngIf="i != 0" class="divider"></div>
              <div class="row mb-3">
                <div class="col-md-1 remove">
                  <label class="form-label"></label>
                  <input type="number" class="form-control" [value]="i + 1" readonly>
                </div>
                <div class="col-md-3">
                  <label class="form-label">Telefone*</label>
                  <input type="text" class="form-control" formControlName="phone" required>
                </div>
                <div class="col-md-3">
                  <label class="form-label">Celular*</label>
                  <input type="text" class="form-control" formControlName="cell_phone" required>
                </div>
                <div class="col-md-4">
                  <label class="form-label">E-mail*</label>
                  <input type="email" class="form-control" formControlName="email" required>
                </div>
                <div class="col-md-1 remove">
                  <button type="button" class="btn btn-danger ti ti-trash" (click)="removeContact(i)"></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <br>
    <div class="col-12 text-end">
      <button
        type="button"
        class="btn btn-light borderButton" 
        (click)="cancelEmployee()">
        Cancelar
      </button>

      <button
        type="button"
        class="btn btn-secondary"
        (click)="employeeId ? onUpdate() :onSave()"
        [disabled]="!employeeForm.valid">
        {{ employeeId ? 'Atualizar Funcionário' : 'Criar Funcionário' }}
      </button>
    </div>
  </div>
</div>


