<div class="ms-auto">
  <ul class="list-unstyled">
    <li>
      <div class="dropdown pc-h-item" ngbDropdown>
        <a
          class="pc-head-link head-link-secondary dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="javascript:"
          ngbDropdownToggle
        >
          <i class="ti ti-bell"></i>
          <span class="badge bg-warning rounded-pill ms-1">{{ notifications.length }}</span> <!-- Mostra o número de notificações -->
        </a>
        <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
          <div class="dropdown-header">
            <h5>
              Notificações
              <span class="badge bg-warning rounded-pill ms-1">{{ notifications.length }}</span>
            </h5>
          </div>
          <ng-scrollbar style="height: calc(100vh - 150px)" visibility="hover">
            <div class="dropdown-header px-0 text-wrap">
              <div class="list-group list-group-flush w-100">
                <!-- Itera sobre as notificações -->
                <a class="list-group-item list-group-item-action" *ngFor="let notification of notifications; let i = index">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar" />
                    </div>
                    <div class="flex-grow-1 ms-1">
                      <span class="float-end text-muted">{{ notification.timestamp | date:'shortTime' }}</span>
                      <h5>{{ notification.title }}</h5>
                      <p class="text-body fs-6">{{ notification.message }}</p>
                      
                      <button 
                        class="badge rounded-pill bg-light-danger border-0" 
                        *ngIf="!notification.read"
                        (click)="markAsRead(notification.id, true)">
                        Marcar como lida
                      </button>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </ng-scrollbar>
        </div>
      </div>
    </li>

    <li>
      <div class="dropdown pc-h-item header-user-profile" ngbDropdown>
        <a
          class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="javascript:"
          ngbDropdownToggle
        >
          <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar" />
          <span>
            <i class="ti ti-settings"></i>
          </span>
        </a>
        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
          <div class="dropdown-header">
            <h4>
              Good Morning,
              <span class="small text-muted">John Doe</span>
            </h4>
            <p class="text-muted">Siedos</p>
              <a [routerLink]="['/guest/login']" class="dropdown-item">
                <i class="ti ti-logout"></i>
                <span>Entrar</span>
              </a>
              <a (click)="logout()" class="dropdown-item">
                <i class="ti ti-logout"></i>
                <span>Sair</span>
              </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
